body{
    text-align:center;
}
h1{
    color:yellow;
    background-color: black;
}
.A{
    color:rgb(0, 166, 255);
    font-size:medium;
}
.B{
    color:rgb(0, 38, 255);
    font-size:medium;
}
.C{
    color:rgb(0, 64, 168);
    font-size:medium;
}
.D{
    color:rgb(0, 0, 128);
    font-size:medium;
}
p{
    font-size: 20px;
}
ul{
    font-size: 20px;
    display:inline-block;
    text-align:left;
}
#a{
    color:crimson;
}
#b{
    color:chartreuse;
}
#c{
    color:dodgerblue;
}